# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js production build
/.next/
/out/

# Production storage / databases
/prisma/db.sqlite
/prisma/db.sqlite-journal

# Miscellaneous
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local env files (NEVER commit production secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel deployment
.vercel
